
<div class="jumbotron text-center">
    <h1 class="display-3">{{ title }}</h1>

    <p class="lead">A Quick little To Do List for you to use...</p>

    <a href="/ideas/add" class="btn btn-dark btn-lg">Add To Do Item</a>
</div>