<h1>To Do:</h1>

{{#each items}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a href="/items/edit/{{id}}" class="btn btn-dark btn-block">Edit</a>
        
    </div>
{{else}}
    <p>No Items listed</p>
{{/each}}